# Aircury AI Framework
specs/changes/

# Repositorio
node_modules/
.idea/
.vscode/
.DS_Store

# API en Deno
supabase/.deno-cache/*
!supabase/.deno-cache/.gitkeep
supabase/.temp/
supabase/functions/api/.storage/
